<footer th:fragment="footerFragment">
    <div class="container">
        <div class="row footer-link">
            <div class="col">
                <img src="/img/banner_1.png" width="200" height="200" alt="">
            </div>
            <div class="col">
                <h5>Info</h5>
                <ul>
                    <li>
                        <i class="bi bi-geo-alt-fill"></i>
                        Some Where in VietNam
                    </li>
                    <li>
                        <i class="bi bi-envelope"></i>
                        Gmail@Gmail.com
                    </li>
                    <li>
                        <i class="bi bi-phone"></i>
                        Call Us: 0941229227
                    </li>
                </ul>
            </div>
            <div class="col">
                <h5>Shows</h5>
                <ul>
                    <li>Angels in the city</li>
                    <li>The Color Purple</li>
                    <li>Antomy of a Suicide</li>
                    <li>Lorem ipsum dolor</li>
                </ul>
            </div>
            <div class="col">
                <h5>Tearms and Coditions</h5>
                <ul>
                    <li>Conditions of Website Use</li>
                    <li>Terms of use</li>
                    <li>Payment Policy</li>
                    <li>Private policy</li>
                </ul>
            </div>
        </div>
        <div class="row footer-social">
            <div class="text-center">
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-skype"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-threads"></i>
            </div>
            <div class="text-center">
                <img src="/img/logo_img.png" style="width: 150px;" alt="">
            </div>
            <div class="text-center">
                <p>
                    This is a sample website - cmsmasters © 2023 / All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>