
.type-display {
    margin: 5px 4px;
    display: inline-block;
    padding: 5px 24px 5px 24px;
    border: 3px solid darkgrey;
    border-radius: 20px;
    color: white;
}

.modal-header {
    background-color: #212529 !important;
    color: whitesmoke;
}
/*.type-display i {*/
/*    margin-left: 2px;*/
/*    color: lightgrey;*/
/*}*/

/*.type-display:hover .bi-x {*/
/*    background-color: darkgrey;*/
/*}*/

.type-display {
    position: relative;
}

.type-display:hover .bi-x::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: darkgrey;
    z-index: -1;
}

.bi-x {
    position: relative;
}

.bi-x:hover {
    background-color: darkgrey;
}

button[disabled] {
    background-color: #343434 !important; /* Màu nền xám nhạt */
    color: #000000; /* Màu chữ xám đậm */
    cursor: not-allowed; /* Đổi kiểu con trỏ thành "not-allowed" */
}

.image-container-small {
    width: 200px;
    height: 300px;
}

.image-container {
    overflow: hidden; /* Ẩn phần nằm ngoài giới hạn kích thước */
}

.image-container-large {
    width: 800px;
    height: 300px;
}

.image-container-small img {
    width: auto; /* Đảm bảo ảnh điều chỉnh theo chiều rộng của khung */
    height: 100%; /* Đảm bảo tỷ lệ khung hình không bị biến đổi */
}

.image-container img {
    width: auto; /* Đảm bảo ảnh điều chỉnh theo chiều rộng của khung */
    height: 100%; /* Đảm bảo tỷ lệ khung hình không bị biến đổi */
}

.image-container-large img {
    width: 100%; /* Đảm bảo ảnh điều chỉnh theo chiều rộng của khung */
    height: auto; /* Đảm bảo tỷ lệ khung hình không bị biến đổi */
}

.container-img-small {
    width: 100%; /* Thay đổi theo chiều rộng mong muốn */
    padding-top: 133%; /* (4 / 3) * 100% */
    position: relative;
    overflow: hidden;
}

.container-img-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}