@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --backgound-dark-color-primary: black;
    --text-color: white;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* --loading */
.lsd-ring-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 110vh;
    z-index: 10000;
    background-color: rgba(100, 100, 111, 0.5);
    transform: translateY(-29px);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Style Header */
header {
    height: 70px;
}

.navbar-custom {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 70px;
    background-color: var(--backgound-dark-color-primary);
}

/* .navbar .collapse .nav-item:not(.nav-item:last-child) .nav-link::after {
  content: "";
  display: inline-block;
  width: 0.075rem;
  height: 10px;
  margin-left: 10px;
  background-color: var(--text-color);
} */
.navbar .collapse .nav-item .nav-link {
    font-size: 15px;
    font-family: inherit;
    font-weight: 600;
    color: var(--text-color);
    transition: all 0.3s;
    display: inline-block;
}

.navbar .collapse .nav-item .nav-link:hover {
    font-size: 20px;
    color: #fe0000;
}

.navbar .collapse .nav-item .nav-link.active {
    font-size: 20px;
    color: #fe0000;
}

/* Main */
#account-img {
    border-radius: 50%;
}

/* Login */
.modal-dialog-scrollable .modal-body::-webkit-scrollbar-track {
    background-color: white;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #212529;
    border: 2px solid white;
}

.form-check-input:checked {
    background-color: #333;
    border-color: #333;
}

.form-check-input:focus {

    box-shadow: none;
}

/* Footer */
footer {
    background-color: var(--backgound-dark-color-primary);
    color: var(--text-color);
    padding: 5rem 5rem 2rem 5rem;
    font-size: 14px;
}

footer i {
    font-size: 16px;
    margin-right: 10px;
    color: #b49761;
}

.footer-link {

}

.footer-link ul {
    list-style-type: none;
    padding: 0;
}

.footer-link li {
    padding-top: 10px;
}

.footer-social {
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

