<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CONFIRM BOOKING TICKET</title>
    <!-- Required meta tags -->
    <th:block th:replace="~{common/head :: headFragment}"></th:block>

    <!--  Inject CSS -->
    <link rel="stylesheet" href="/style/common_manager.css">
    <link rel="stylesheet" href="/style/confirmTicket.css">
</head>

<body>
    <div class="container-custom">
        <div th:replace="~{common/sideBar :: sideBarFragment }"></div>
        <div class="tab-content">
            <div class="header">
                <div>
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <h1>CONFIRM BOOKING TICKET</h1>
                </div>
            </div>
            <div class="main-content container p-5 ">
                <div class="row">
                    <div class="row">
                        <div class="row m-3 bg-body-secondary d-flex justify-content-around">
                            <div class="col-2 mt-3 mb-3">
                                <div><img src="/img/Movie/product_7.jpg" alt="bác sĩ lạ" class="img-fluid mt-2"
                                        style="max-width: 150%;"></div>
                            </div>
                            <div class="col-8 mt-3 mb-3">
                                <div class="text-decoration-none mb-5">
                                    <h1 class="text-secondary-emphasis">Docter Strange: Phù thủy tối thượng</h1>
                                </div>
                                <div class="row border-top m-2">
                                    <div class="col-5"><b>Screen: </b></div>
                                    <div class="col-7">to vãi lờ</div>
                                </div>
                                <div class="row border-top m-2">
                                    <div class="col-5"><b>Date: </b></div>
                                    <div class="col-7">01/12/2018</div>
                                </div>
                                <div class="row border-top m-2">
                                    <div class="col-5"><b>Time: </b></div>
                                    <div class="col-7">t21:00</div>
                                </div>
                                <div class="row border-top m-2">
                                    <div class="col-5"><b>Seat: </b></div>
                                    <div class="col-7">2D 2E 2F</div>
                                </div>
                                <div class="row border-top m-2">
                                    <div class="col-5"><b>Price: </b></div>
                                    <div class="col-7">
                                        <p>2D:45.000</p>
                                        <p>2D:45.000</p>
                                        <p>2D:45.000</p>
                                    </div>

                                </div>
                                <div class="row border-top m-2">
                                    <div class="col-5"><b>Total: </b></div>
                                    <div class="col-7 text-success ">135.000</div>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-danger"><i class="bi bi-ticket-detailed"></i> Confirm
                                booking ticket</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JavaScript Libraries -->
        <th:block  th:replace="~{common/scriptFile :: scriptFragment}"></th:block >
        <!-- Inject js-->
        <script src="/js/common_get_account.js"></script>
        <!-- Inject js-->
</body>

</html>