<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Select Seat</title>
    <!-- Required meta tags -->
    <th:block th:replace="~{common/head :: headFragment}"></th:block>

    <!--  Inject CSS -->
    <link rel="stylesheet" href="/style/common_manager.css">
    <link rel="stylesheet" href="/style/selectseat.css">
</head>

<body>
    <div class="container-custom">
        <div th:replace="~{common/sideBar :: sideBarFragment }"></div>
        <div class="tab-content">
            <div class="header">
                <div>
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <h1>Select Seat</h1>
                </div>
            </div>
            <div class="main-content container p-5 ">
                <div class="row ">
                    <div class="col-2"></div>
                    <div class="col-1">
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="1A" class="tgl tgl-flip">
                            <label for="1A" data-tg-on="1A" data-tg-off="1A" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="2A" class="tgl tgl-flip">
                            <label for="2A" data-tg-on="2A" data-tg-off="2A" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="3A" class="tgl tgl-flip">
                            <label for="3A" data-tg-on="3A" data-tg-off="3A" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="4A" class="tgl tgl-flip">
                            <label for="4A" data-tg-on="4A" data-tg-off="4A" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="5A" class="tgl tgl-flip">
                            <label for="5A" data-tg-on="5A" data-tg-off="5A" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="6A" class="tgl tgl-flip">
                            <label for="6A" data-tg-on="6A" data-tg-off="6A" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="7A" class="tgl tgl-flip">
                            <label for="7A" data-tg-on="7A" data-tg-off="7A" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="8A" class="tgl tgl-flip">
                            <label for="8A" data-tg-on="8A" data-tg-off="8A" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="9A" class="tgl tgl-flip">
                            <label for="9A" data-tg-on="9A" data-tg-off="9A" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="10A" class="tgl tgl-flip">
                            <label for="10A" data-tg-on="10A" data-tg-off="10A" class="tgl-btn"></label>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="1B" class="tgl tgl-flip">
                            <label for="1B" data-tg-on="1B" data-tg-off="1B" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="2B" class="tgl tgl-flip">
                            <label for="2B" data-tg-on="2B" data-tg-off="2B" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="3B" class="tgl tgl-flip">
                            <label for="3B" data-tg-on="3B" data-tg-off="3B" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="4B" class="tgl tgl-flip">
                            <label for="4B" data-tg-on="4B" data-tg-off="4B" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="5B" class="tgl tgl-flip">
                            <label for="5B" data-tg-on="5B" data-tg-off="5B" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="6B" class="tgl tgl-flip">
                            <label for="6B" data-tg-on="6B" data-tg-off="6B" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="7B" class="tgl tgl-flip">
                            <label for="7B" data-tg-on="7B" data-tg-off="7B" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="8B" class="tgl tgl-flip">
                            <label for="8B" data-tg-on="8B" data-tg-off="8B" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="9B" class="tgl tgl-flip">
                            <label for="9B" data-tg-on="9B" data-tg-off="9B" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="10B" class="tgl tgl-flip">
                            <label for="10B" data-tg-on="10B" data-tg-off="10B" class="tgl-btn"></label>
                        </div>
                    </div>
                    
                    <div class="col-1">
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="1C" class="tgl tgl-flip">
                            <label for="1C" data-tg-on="1C" data-tg-off="1C" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="2C" class="tgl tgl-flip">
                            <label for="2C" data-tg-on="2C" data-tg-off="2C" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="3C" class="tgl tgl-flip">
                            <label for="3C" data-tg-on="3C" data-tg-off="3C" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="4C" class="tgl tgl-flip">
                            <label for="4C" data-tg-on="4C" data-tg-off="4C" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="5C" class="tgl tgl-flip">
                            <label for="5C" data-tg-on="5C" data-tg-off="5C" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="6C" class="tgl tgl-flip">
                            <label for="6C" data-tg-on="6C" data-tg-off="6C" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="7C" class="tgl tgl-flip">
                            <label for="7C" data-tg-on="7C" data-tg-off="7C" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="8C" class="tgl tgl-flip">
                            <label for="8C" data-tg-on="8C" data-tg-off="8C" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="9C" class="tgl tgl-flip">
                            <label for="9C" data-tg-on="9C" data-tg-off="9C" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="10C" class="tgl tgl-flip">
                            <label for="10C" data-tg-on="10C" data-tg-off="10C" class="tgl-btn"></label>
                        </div>
                    </div>
                    
                    <div class="col-1"></div>
                    
                    <div class="col-1">
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="1D" class="tgl tgl-flip">
                            <label for="1D" data-tg-on="1D" data-tg-off="1D" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="2D" class="tgl tgl-flip">
                            <label for="2D" data-tg-on="2D" data-tg-off="2D" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="3D" class="tgl tgl-flip">
                            <label for="3D" data-tg-on="3D" data-tg-off="3D" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="4D" class="tgl tgl-flip">
                            <label for="4D" data-tg-on="4D" data-tg-off="4D" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="5D" class="tgl tgl-flip">
                            <label for="5D" data-tg-on="5D" data-tg-off="5D" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="6D" class="tgl tgl-flip">
                            <label for="6D" data-tg-on="6D" data-tg-off="6D" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="7D" class="tgl tgl-flip">
                            <label for="7D" data-tg-on="7D" data-tg-off="7D" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="8D" class="tgl tgl-flip">
                            <label for="8D" data-tg-on="8D" data-tg-off="8D" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="9D" class="tgl tgl-flip">
                            <label for="9D" data-tg-on="9D" data-tg-off="9D" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="10D" class="tgl tgl-flip">
                            <label for="10D" data-tg-on="10D" data-tg-off="10D" class="tgl-btn"></label>
                        </div>
                    </div>
                    
                    <div class="col-1">
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="1E" class="tgl tgl-flip">
                            <label for="1E" data-tg-on="1E" data-tg-off="1E" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="2E" class="tgl tgl-flip">
                            <label for="2E" data-tg-on="2E" data-tg-off="2E" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="3E" class="tgl tgl-flip">
                            <label for="3E" data-tg-on="3E" data-tg-off="3E" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="4E" class="tgl tgl-flip">
                            <label for="4E" data-tg-on="4E" data-tg-off="4E" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="5E" class="tgl tgl-flip">
                            <label for="5E" data-tg-on="5E" data-tg-off="5E" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="6E" class="tgl tgl-flip">
                            <label for="6E" data-tg-on="6E" data-tg-off="6E" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="7E" class="tgl tgl-flip">
                            <label for="7E" data-tg-on="7E" data-tg-off="7E" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="8E" class="tgl tgl-flip">
                            <label for="8E" data-tg-on="8E" data-tg-off="8E" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="9E" class="tgl tgl-flip">
                            <label for="9E" data-tg-on="9E" data-tg-off="9E" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="10E" class="tgl tgl-flip">
                            <label for="10E" data-tg-on="10E" data-tg-off="10E" class="tgl-btn"></label>
                        </div>
                    </div>
                    
                    <div class="col-1">
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="1F" class="tgl tgl-flip">
                            <label for="1F" data-tg-on="1F" data-tg-off="1F" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="2F" class="tgl tgl-flip">
                            <label for="2F" data-tg-on="2F" data-tg-off="2F" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="3F" class="tgl tgl-flip">
                            <label for="3F" data-tg-on="3F" data-tg-off="3F" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="4F" class="tgl tgl-flip">
                            <label for="4F" data-tg-on="4F" data-tg-off="4F" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="5F" class="tgl tgl-flip">
                            <label for="5F" data-tg-on="5F" data-tg-off="5F" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="6F" class="tgl tgl-flip">
                            <label for="6F" data-tg-on="6F" data-tg-off="6F" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="7F" class="tgl tgl-flip">
                            <label for="7F" data-tg-on="7F" data-tg-off="7F" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="8F" class="tgl tgl-flip">
                            <label for="8F" data-tg-on="8F" data-tg-off="8F" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="9F" class="tgl tgl-flip">
                            <label for="9F" data-tg-on="9F" data-tg-off="9F" class="tgl-btn"></label>
                        </div>
                        <div class="checkbox-wrapper-10 mb-2">
                            <input checked="" type="checkbox" id="10F" class="tgl tgl-flip">
                            <label for="10F" data-tg-on="10F" data-tg-off="10F" class="tgl-btn"></label>
                        </div>
                    </div>
                    
                    <div class="col-2"></div>
                    
                   



                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <th:block  th:replace="~{common/scriptFile :: scriptFragment}"></th:block >
    <!-- Inject js-->
    <script src="/js/common_get_account.js"></script>
    <!-- Inject js-->
</body>

</html>